body {
  background-color: #0c0c0c;
}

.wrapper {
  display: flex;
  justify-content: center;
  padding: 100px;
}

.btn {
  width: 150px;
  height: 50px;
  background: orange;
  color: aliceblue;
  font-size: 14px;
  align-self: center;
  cursor: pointer;
}

.btn:hover {
  background: aliceblue;
  color: orange;
}